# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/asp_net_+_react/react/node_modules
/asp_net_+_react/asp_net/.vs
/asp_net_+_react/asp_net/asp_net Web api/bin
/asp_net_+_react/asp_net/asp_net Web api/obj
/asp_net_mvc/.vs
/asp_net_mvc/asp_net_mvc/bin
/asp_net_mvc/asp_net_mvc/obj

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
